{% extends 'base.html' %}

{% block conteudo %}

<div class="cards">

    <div class="card">
        <h3>Produtos</h3>
        <span>120</span>
    </div>

    <div class="card">
        <h3>Vendas Hoje</h3>
        <span>35.000 MT</span>
    </div>

    <div class="card">
        <h3>Clientes</h3>
        <span>80</span>
    </div>

    <div class="card">
        <h3>Lucro</h3>
        <span>12.500 MT</span>
    </div>

</div>

<div class="painel">

    <h3>Bem-vindo ao NV VENDAS ERP</h3>

    <p>Sistema de gestão moderno para vendas e stock.</p>

</div>

{% endblock %}