{% extends 'base.html' %}

{% block conteudo %}

<div class="permissoes-page">


    <!-- CABEÇALHO -->

    <div class="card-permissoes-header">

        <div>

            <h2>
                🔐 Gestão de Permissões
            </h2>

            <small>
                Controle janelas e ações disponíveis para cada utilizador
            </small>

        </div>


        <button

            class="btn-guardar-permissoes"

            onclick="guardarPermissoes()"

            data-permissao="permissoes.salvar">

            💾 Salvar

        </button>


    </div>




    <!-- UTILIZADOR -->

    <div class="card-permissoes">


        <label>

            Selecionar Utilizador

        </label>


        <select

            id="usuario_uuid"

            onchange="carregarPermissoes()">


            <option value="">

                Selecione o utilizador

            </option>



            {% for u in utilizadores %}


            <option value="{{u[0]}}">

                {{u[1]}}

            </option>


            {% endfor %}



        </select>


    </div>





    <!-- PERMISSÕES -->


    <div class="card-permissoes">


        <h3>

            📂 Permissões do Sistema

        </h3>




        <div class="table-responsive">


        <table class="table table-hover">


            <thead>


                <tr>


                    <th>

                        Janela

                    </th>


                    {% for acao in acoes %}


                    <th class="text-center">

                        {{ acao|capitalize }}

                    </th>


                    {% endfor %}



                </tr>


            </thead>



            <tbody>



            {% for j in janelas %}


            <tr>



                <td>

                    {{j|capitalize}}

                </td>



                {% for acao in acoes %}


                <td class="text-center">


                    <input


                        type="checkbox"


                        class="check-permissao"


                        data-modulo="{{j}}"


                        data-acao="{{acao}}"


                    >



                </td>


                {% endfor %}




            </tr>



            {% endfor %}




            </tbody>



        </table>


        </div>



    </div>




</div>






<script>


function carregarPermissoes(){


    let usuario =

    document.getElementById(
        "usuario_uuid"
    ).value;



    if(!usuario){

        return;

    }



    fetch(
        "/api/permissoes/"+usuario
    )

    .then(r=>r.json())


    .then(d=>{


        document

        .querySelectorAll(
            ".check-permissao"
        )


        .forEach(check=>{


            let modulo =
            check.dataset.modulo;



            let acao =
            check.dataset.acao;



            check.checked = false;



            if(
                d[modulo] &&
                d[modulo][acao]
            ){


                check.checked = true;


            }



        });



    });



}







function guardarPermissoes(){



    let usuario =

    document.getElementById(
        "usuario_uuid"
    ).value;




    if(!usuario){


        alert(
            "Selecione o utilizador"
        );


        return;


    }





    let permissoes = {};






    document

    .querySelectorAll(
        ".check-permissao"
    )


    .forEach(check=>{



        let modulo =
        check.dataset.modulo;



        let acao =
        check.dataset.acao;




        if(!permissoes[modulo]){


            permissoes[modulo]={};


        }




        permissoes[modulo][acao] =

            check.checked;




    });







    fetch(

        "/api/salvar_permissoes",

        {


            method:"POST",


            headers:{


                "Content-Type":
                "application/json"


            },


            body:JSON.stringify({


                usuario_uuid:usuario,


                permissoes:permissoes


            })


        }


    )


    .then(r=>r.json())


    .then(d=>{


        if(d.sucesso){


            alert(
                "Permissões guardadas com sucesso!"
            );


        }


        else{


            alert(
                d.mensagem
            );


        }



    });



}



</script>



{% endblock %}